*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    width:380px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.1);
}

h2{
    margin-bottom:15px;
    text-align:center;
}

.row{
    display:flex;
    gap:8px;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    border:none;
    background:#4f46e5;
    color:white;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
}

li{
    list-style:none;
    margin-top:10px;
    background:#f7f7f7;
    padding:10px;
    border-radius:6px;
    display:flex;
    justify-content:space-between;
}

.del{
    background:crimson;
    padding:5px 8px;
    border-radius:4px;
}
